.container {
    width: 300px;
    overflow: hidden;
    margin: 5px auto 0 auto;
    margin-left: 220px;
}
.container .box {
    float: left;
    width: 80px;
    height:70px;
    border: 1px solid rgb(252, 252, 252);
    transition: all .25s ease-in-out;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    
    
}
.container .box:hover{
    background: rgba(10, 10, 10, 10);
    color: #fff;
}
.center {
    text-align: center;
    margin-top: 15px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .box {
    background-color: rgb(12, 123, 163);
    color: white;
    
  }
  
  