
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 500px;
    position: fixed;
    margin: 70px 80px;

    text-align: center;
    
}

.screen {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 150px;
    background: rgb(92, 32, 32);
    width: 200px;
    position: fixed;
    color: chartreuse;
    border-radius: 25px;
    box-shadow: 0px 2px 5px black;
    
    
    
    
}

.form-group input {
  width: 100px;
  border-radius: 6px;
  border: none;
  border: 1px solid black;
}

.btn {
  border-radius: 5px;
  color: chartreuse;
  background-color: black;
  width: 70px;
  border : none;
  cursor: pointer;
  height: 25px;
}
